@page "/game/{RoomId}"
@rendermode InteractiveServer

@inject NavigationManager Nav
@inject GameService GameService
@inject IJSRuntime JS

<h1>Tic Tac Toe</h1>

@if (room == null)
{
    <p>Loading...</p>
}
else
{
    <div class="game-container">

        <div class="game-info">
            Your role: <b>@myRole</b>
        </div>

        <div class="board">
            @for (int i = 0; i < 9; i++)
            {
                int index = i;

                <button class="cell"
                        @onclick="() => room.Game.Move(index, myRole)">
                    @room.Game.GameBoard[index]
                </button>
            }
        </div>

        <div class="game-info">
            Move: <b>@room.Game.CurrentPlayer</b>
        </div>

        <div class="game-info">
            Winner: <b>@room.Game.Winner</b>
        </div>

        <button class="main-button" @onclick="room.Game.Restart">
            Restart game
        </button>

    </div>
}

@code {
    [Parameter]
    public string RoomId { get; set; } = default!;

    GameRoom? room;

    string myRole = "";
    string myId = "";

    System.Timers.Timer? timer;

    protected override void OnInitialized()
    {
        if (!GameService.Rooms.TryGetValue(RoomId, out room))
        {
            Nav.NavigateTo("/");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        myId = await JS.InvokeAsync<string>("getPlayerId");

        AssignRole();

        timer = new System.Timers.Timer(300);
        timer.Elapsed += (_, __) => InvokeAsync(StateHasChanged);
        timer.Start();

        StateHasChanged();
    }

    void AssignRole()
    {
        if (room!.PlayerX == null)
        {
            room.PlayerX = myId;
            myRole = "X";
        }
        else if (room.PlayerO == null)
        {
            room.PlayerO = myId;
            myRole = "O";
        }
        else if (room.PlayerX == myId)
        {
            myRole = "X";
        }
        else if (room.PlayerO == myId)
        {
            myRole = "O";
        }
        else
        {
            myRole = "spectator";
        }
    }

    public void Dispose()
    {
        timer?.Stop();
        timer?.Dispose();
    }
}