@page "/"
@rendermode InteractiveServer

@inject NavigationManager Nav
@inject GameService GameService

<h1>Lobby</h1>

<button @onclick="CreateLobby">Создать лобби</button>

@code {
    void CreateLobby()
    {
        var id = Guid.NewGuid().ToString();

        GameService.Rooms[id] = new GameRoom
        {
            Id = id
        };

        Nav.NavigateTo("/game/" + id);
    }
}